$bell-animation-duration: .5s;

.header {
    padding: 1.2em 1.3em;
    margin: 0 0 2em 0;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #808080;

    &__logo {
        font-size: 1.5em;
        font-weight: 600;
    }

    &__notification > button > svg {
        transition: all $bell-animation-duration ease-in-out;

        &:hover {
            animation: bell-notification $bell-animation-duration;
            color: #cccccc;
        }
    }


    &__register {
        justify-content: space-between;
        align-items: center;
        gap: 1em;


        &--menu {
            gap: 0.3em;
            align-items: center;
        }
    }

}


@keyframes bell-notification {
    0% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(25deg);
    }
    50% {
        transform: rotate(-20deg) scale(1.1);
    }
    75% {
        transform: rotate(15deg);
    }
}

