.register-btn {
  font-size: 1.25em;
  padding: 0.5em 0.75em;
  background-color: #1346bc;
  border: none;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
  text-transform: uppercase;
}
.register-btn:hover {
  background-color: #103da7;
}

.modal {
  background-color: rgba(0, 0, 0, 0.7058823529);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  color: #000;
}
.modal__container {
  padding: 3em;
  border-radius: 6px;
  background-color: #fff;
  min-width: 30em;
  min-height: 30em;
}

.modal {
  opacity: 0;
  filter: blur(5px);
  transition: all 0.5s ease-in-out;
}
.modal__header--add-stud {
  justify-content: space-between;
  padding: 0 0 1.5em 0;
  border-bottom: 1px solid #000;
}
.modal__form--add-stud {
  flex-direction: column;
  gap: 1em;
  margin: 3em 0;
}
.modal__form--add-stud > div > label {
  margin: 0 0.5em 0 0;
  padding: 0.3em;
}
.modal__form--add-stud > div > input {
  border: 1px solid #808080;
  border-radius: 6px;
  padding: 0 0.5em;
}
.modal__form--add-stud > div > select {
  border: 1px solid #808080;
  border-radius: 6px;
  padding: 0 0.1em;
}
.modal__footer--add-stud {
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 0 0 0;
  border-top: 1px solid #000;
}

.modal-active {
  opacity: 1;
  filter: blur(0);
}

.header {
  padding: 1.2em 1.3em;
  margin: 0 0 2em;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #808080;
}
.header__logo {
  font-size: 1.5em;
  font-weight: 600;
}
.header__notification > button > svg {
  transition: all 0.5s ease-in-out;
}
.header__notification > button > svg:hover {
  animation: bell-notification 0.5s;
  color: #cccccc;
}
.header__register {
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}
.header__register--menu {
  gap: 0.3em;
  align-items: center;
}

@keyframes bell-notification {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(25deg);
  }
  50% {
    transform: rotate(-20deg) scale(1.1);
  }
  75% {
    transform: rotate(15deg);
  }
}
.container {
  width: 1800px;
  padding: 90% auto;
  justify-content: space-between;
}

.left-sidebar {
  margin: 1em 3em;
}
.left-sidebar__list {
  flex-direction: column;
  gap: 1.2em;
}
.left-sidebar__list--item {
  padding: 0.2em 0.4em;
  margin: 0.2em;
  /* font-size: var(font-size-color); */
}
.left-sidebar__list--item:hover {
  text-decoration: underline;
}

.students__container {
  gap: 3em;
}
.students__content > h1 {
  font-size: 2em;
  font-weight: 700;
  margin: 1em 0;
}
.students__content--add-btn {
  justify-content: right;
  font-size: 1.8em;
}
.students__content--add-btn > button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.5em;
  border-radius: 100%;
  border: 1px solid #fff;
  transition: all 0.2s ease-in-out;
}
.students__content--add-btn > button:hover {
  background-color: #ababab;
  color: #000;
}
.students__content--list {
  width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.students__list--groups > tr > th {
  padding: 1em 0;
  margin: 0.5em 0;
}
.students__list--groups > tr {
  display: flex;
  justify-content: center;
  align-items: center;
}
.students__list--groups > tr > td {
  border: 1px #fff solid;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.status_students::before {
  content: "";
  padding: 0.6em;
  background-color: #ff0000;
  border-radius: 50%;
}
.status_students.ready::before {
  background-color: #00ff00;
}

.options_students {
  padding: 0.2em 0 0 0;
  gap: 0.7em;
}
.options_students > div > button > svg {
  transition: all 0.2s ease-in-out;
}
.options_students > div > button > svg:hover {
  fill: #ababab;
}/*# sourceMappingURL=style.css.map */