.register-btn {
    font-size: 1.25em;
    padding: .5em .75em;
    background-color: #2eb00e;
    border: none;
    border-radius: 8px;
    transition: all .2s ease-in-out;
    text-transform: uppercase;



    &:hover {
        background-color: #279d0a;
  }
}