@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  --font-color: #fff;
  --nav-font-size: 1.2em;



  --active-font-color: #b0b0b0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


a {
  color: var(--font-color);
  text-decoration: none;
}

li {
  list-style-type: none
}



th {
  width: 100px;
}

td {
  width: 100px;
}



.flex {
  display: flex;
}

.grid {
  display: grid;
}

.active {
  color: var(--active-font-color);
  pointer-events: none;
}


.btn-cancel,
.btn-save {
  border: 1px solid #b0b0b0;
  padding: .6em .8em;
  background-color: #ededed;
  
  transition: all .2s ease-in-out;
}

.btn-cancel:hover,
.btn-save:hover {
  background-color: #e2e2e2;
}

